@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.submit {

}
.list {
  position: absolute;
  padding-left: 70px;
  max-width: 600px;
}
.event {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: inherit;
  font-size: 18px;
  color:#C74579;
  letter-spacing: 5px;
}

.modalNone {
  display: none;
}
.modalShow {
  position: fixed;
  padding-top: 100px;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 9999;
}
.modalContainer {
  display: block;
  position: absolute;
  top: 10px;
  justify-content: center;
}
.modalContent {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #C74579;
  margin: 100px 500px;
  padding: 20px;
  border: 1px solid #888;
  width: 398px;
  overflow: hidden;
  min-height: 290px;
  max-height: 290px;
  max-width: 398px;
}
.modalForm {
  position: absolute;
  background-color: #ad5e7e;
  display: grid;
  height: 220px;
  top: 30%;
  width: 25.5%;
}
.update {
  font-size: 14px;
  position: absolute;
  display: flex;
  padding: 3px 10px;
  top: -38px;
  margin-left: 180px;
  padding-right: 10px;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 3px solid black;
  transition: border 0.2s ease;
}
.trash {
  font-size: 20px;
  position: absolute;
  display: flex;
  padding: 3px 10px;
  top: 110px;
  margin-left: 270px;
  padding-right: 10px;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 3px solid black;
  transition: border 0.2s ease;
}
.exit {
  font-size: 20px;
  position: absolute;
  display: flex;
  padding: 3px 10px;
  margin-left: 325px;
  border-radius: 50px;
  top: 110px;
  background-color: white;
  color: black;
  border: 3px solid black;
  transition: border 0.2s ease;
}
.trash:hover {
  border: 5px solid #ad5e7e;
  cursor: pointer;
}

.exit:hover {
  border: 5px solid #ad5e7e;
  cursor: pointer;
}
.update:hover {
  border: 5px solid #ad5e7e;
  cursor: pointer;
}

